<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <body>
    Geef hier het recept in.
      <form action="/inhaal" method="POST">
        <input type="text" placeholder="naam" name="naam">
        <input type="text" placeholder="Aantal caloriën" name="caloriën">
        <input type="text" placeholder="ingrediënten" name="ingrediënten">
        <input type="text" placeholder="benodigde tijd" name="tijd">
        <button type="submit">Submit</button>
      </form>
      
    </body>

